header {
  background-color: #028090;
  color: white;
  padding: 20px 40px;
}
 
section {
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
}
 
footer {
  background-color: #0b1d26;
  color: white;
  padding: 20px;
  text-align: center;
}
